#btn2 {
    width: 120px;
    border-radius: 5px;
    border: none;
    background: orange;
    font-size: small;
    font-weight: 500;
    color: white;
}
#btn3 {
    width: 120px;
    border-radius: 5px;
    border: none;
    background:  linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    font-size: small;
    font-weight: 500;
    color: white;
}